aiogram==2.13
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.6
Babel==2.9.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
greenlet==1.0.0
idna==2.10
multidict==5.1.0
pycodestyle==2.7.0
pydot==1.4.2
pyparsing==2.4.7
pysqlite3==0.4.6
pyTelegramBotAPI==3.7.7
python-dotenv==0.17.0
pytz==2021.1
requests==2.25.1
rope==0.19.0
soupsieve==2.2.1
SQLAlchemy==1.4.13
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3